@CHARSET "utf-8";

body {
	padding: 100px;
	font-family: Calibri, sans-serif;
	font-weight: bold;
}

#top_nav li:hover ul {
	display:block;
}

#top_nav {
	display:block;
	position:relative;
	background-color:#FFF;
	height: 40px;
	width: 1000px;
	margin:0px auto;
	border: 1px solid;
	border-radius: 3px;
}

#top_nav ul{
	margin:0px;
	padding:0px;
}

#top_nav li{
	position:relative;
	float:left;
	list-style-type:none;
}

#top_nav ul:after{
	contet:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

#top_nav li a {
	text-decoration:none;
	display:block;
	color: #004466;
	padding:7px 30px;
	font-size: 20px;
}



#top_nav ul ul {
	position:absolute;
	display:none;
	left:0px;
	background-color:#e5f6ff;
	border: 1px solid;
	border-radius: 3px; 
}

#top_nav ul ul li a {
	font-size: 20px;
}
